.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  justify-content: space-between; /* Distribute space */
}

.text-area {
  flex-grow: 1; /* Take up remaining space */
  margin: 10px;
  padding: 10px;
  resize: none; /* Optional, disables resizing of the textarea */
}

.recorder-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to bottom */
  height: 5px; /* Small height */
  margin: 10px;
}

/* Style for the Recorder component if needed */
.Recorder {
  /* Additional styles if needed */
}